<%= render "shared/banner" %>

<div class="container">

  <h2 class="m-5">About Me</h2>

  <div class="info-card">
   <div>
   <%# change the picture for a better one %>
    <%= image_tag ("me-no-background.png"), class: "info-img"%>
    <div class="card-text">
      <p>
        oahsfioahfo iahso ifhaoishfoiash flkahak lhsflkahsjfk lahsfaosjfpoasj fpoasj faosp jfpoasjfpo
      </p>
    </div>
   </div>
   <div>
    <div class="icons">
      <div class="git skill">
        <i class="fa-brands fa-git-alt icon-size"></i>
        <p>Git</p>
      </div>
      <div class="rails skill">
        <%= inline_svg_tag("rails.svg", class: "some-class") %>
        <p>Rails</p>
      </div>
      <div class="html skill">
        <i class="fa-brands fa-html5 icon-size"></i>
        <p>HTML</p>
      </div>
      <div class="css skill">
        <i class="fa-brands fa-css3-alt icon-size"></i>
        <p>CSS</p>
      </div>
      <div class="python skill">
        <i class="fa-brands fa-python icon-size"></i>
        <p>PYTHON</p>
      </div>
      <div class="bootstrap skill">
        <i class="fa-brands fa-bootstrap icon-size"></i>
        <p>Bootsrap</p>
      </div>
      <div class="sql skill">
        <i class="fa-solid fa-database icon-size"></i>
        <p>SQL</p>
      </div>
      <div class="react skill">
        <i class="fa-brands fa-react icon-size"></i>
        <p>React</p>
      </div>
      <div class="figma skill">
        <i class="fa-brands fa-figma icon-size"></i>
        <p>Figma</p>
      </div>
    </div>
   </div>
  </div>

  <h2 class="m-5">Projects</h2>

  <div class="projects">
    <div class="project theater">
      <div class="image-container">
        <%= image_tag ("theater.png"), alt: "theater"%>
      </div>
      <div class="description-container">
        <h3>Theater</h3>
        <h4>Stack: <span>RUBY ON RAILS</span>, <span>JAVASCRIPT</span>, <span>POSTGRESQL</span></h4>
        <ul>
          <li>Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah</li>
          <li>Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah</li>
          <li>Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah</li>
        </ul>
        <div class="links">
          <a href="https://theatr-app.herokuapp.com/" target="_blank">Live</a>
          <a href="https://github.com/reemgawad/theatr" target="_blank">Repo</a>
        </div>
      </div>
    </div>

    <div class="project flight-finder">
      <div class="image-container">
        <%= image_tag ("flight3.png"), alt: "flight finder"%>
      </div>
      <div class="description-container">
        <h3>Flight Finder</h3>
        <h4>Stack: <span>PYTHON</span>, <span>SMTPLIB</span>, <span>TEQUILA API</span></h4>
        <ul>
          <li>Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah</li>
          <li>Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah</li>
          <li>Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah</li>
        </ul>
        <div class="links">
          <a href="https://github.com/ChrisLefrancois/Flightclub" target="_blank">Repo</a>
        </div>
      </div>
    </div>

     <div class="project hafh">
      <div class="image-container">
        <%= image_tag ("hafh.png"), alt: "home away from home"%>
      </div>
      <div class="description-container">
        <h3>Theater</h3>
        <h4>Stack: <span>RUBY ON RAILS</span>, <span>JAVASCRIPT</span>, <span>POSTGRESQL</span> <span>MAPBOX API</span></h4>
        <ul>
          <li>Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah</li>
          <li>Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah</li>
          <li>Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah</li>
        </ul>
        <div class="links">
          <a href="https://github.com/ChrisLefrancois/home_away" target="_blank">Repo</a>
        </div>
      </div>
    </div>

    <div class="project cycleasy">
      <div class="image-container">
        <%= image_tag ("cycleasy.png"), alt: "cycleasy"%>
      </div>
      <div class="description-container">
        <h3>Cycleasy</h3>
        <h4>Stack: <span>RUBY ON RAILS</span>, <span>JAVASCRIPT</span>, <span>POSTGRESQL</span> <span>MAPBOX API</span></h4>
        <ul>
          <li>Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah</li>
          <li>Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah</li>
          <li>Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah</li>
        </ul>
        <div class="links">
          <a href="https://github.com/paullanza/cycleasy" target="_blank">Repo</a>
        </div>
      </div>
    </div>


  </div>

  <div class="projects mt-5">
    <div class="contacts">
      <div class="get-in-touch mx-2">
        <h5>Get in Touch</h5>
        <div class="contact-box">
        <i class="fa-regular fa-envelope mail-size"></i>
          <div class="email-me">
            <a href="mailto:chris.lefrancois1@gmail.com">chris.lefrancois1@gmail.com</a>
          </div>
        </div>
        <div class="contact-box mt-3">
          <p>My Social Networks</p>
          <div class="social-network">
            <a href="https://github.com/ChrisLefrancois" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/christopherlefrancois/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://twitter.com/Lef__Chris" target="_blank"><i class="fa-brands fa-twitter"></i></a>
          </div>
        </div>
      </div>
        <div>
          <h5 class="text-center mt-2">Contact Form</h5>
          <%= render 'pages/form', contact: @contact %>
        </div>
    </div>
  </div>
</div>
