<%= render "shared/banner" %>

<div class="container">

  <h2 class="m-5" id="about">1. About Me</h2>

  <div class="info-card inf">
   <div>
   <%# change the picture for a better one %>
    <%# <%= image_tag ("me-no-background.png"), class: "info-img" %>
    <div class="card-text">
      <p>
        Hello! I'm  a passionate Fullstack Developer with a love for solving complex problems.
        I embarked on my coding journey in late 2021 and made the bold decision to switch careers in early 2022 by joining a coding bootcamp. Since then, I've worked on various projects as a freelancer and continually expanded my skills by experimenting with new languages and frameworks.
      </p>
      <p>
        My expertise lies in building robust Ruby on Rails applications and developing modern front-end experiences with React. I enjoy working in fast-paced environments and am seeking a full-time role where I can contribute to impactful products while continuing to grow as a developer.
      </p>
      <p>
        When I'm not coding, you can find me on the soccer field or whipping up new recipes in the kitchen. I'm always eager to take on new challenges and grow both professionally and personally.
      </p>
    </div>
   </div>
   <div>
    <div class="icons">
      <div class="git skill">
        <i class="fa-brands fa-git-alt icon-size"></i>
        <p>Git</p>
      </div>
      <div class="rails skill">
        <%= inline_svg_tag("rails.svg", class: "some-class") %>
        <p>Rails</p>
      </div>
      <div class="html skill">
        <i class="fa-brands fa-html5 icon-size"></i>
        <p>HTML</p>
      </div>
      <div class="css skill">
        <i class="fa-brands fa-css3-alt icon-size"></i>
        <p>CSS</p>
      </div>
      <div class="node skill">
        <i class="fa-brands fa-node icon-size"></i>
        <p>NODE.JS</p>
      </div>
      <div class="bootstrap skill">
        <i class="fa-brands fa-bootstrap icon-size"></i>
        <p>Bootsrap</p>
      </div>
      <div class="sql skill">
        <i class="fa-solid fa-database icon-size"></i>
        <p>SQL</p>
      </div>
      <div class="react skill">
        <i class="fa-brands fa-react icon-size"></i>
        <p>React</p>
      </div>
      <div class="figma skill">
        <i class="fa-brands fa-figma icon-size"></i>
        <p>Figma</p>
      </div>
    </div>
   </div>
  </div>

  <h2 class="m-5" id="projects">2. Projects</h2>

  <div class="projects">

    <div class="project plato-gelato">
      <div class="image-container">
        <%= image_tag ("platogelato.png"), alt: "plato gelato"%>
      </div>
      <div class="description-container">
        <h3>Plato Gelato</h3>
        <h4>Stack: <span>React</span></h4>
        <ul>
          <li>A Simple one page website for a Montreal gelato shop.</li>
          <li>It uses Google Map to show the location</li>
        </ul>
        <div class="links">
          <a href="https://github.com/ChrisLefrancois/gelato-shop" target="_blank">Repo</a>
          <a href="https://www.platogelato.com/" target="_blank">Live</a>
        </div>
      </div>
    </div>


    <div class="project tady-bakery">
      <div class="image-container">
        <%= image_tag ("tadybakingco.png"), alt: "Tady Baking Co"%>
      </div>
      <div class="description-container">
        <h3>Tady Baking Co.</h3>
        <h4>Stack: <span>React</span>, <span>Node.js</span>, <span>MongoDB</span>, <span>Express</span>, <span>Stripe</span></h4>
        <ul>
          <li>An E-commerce for a home bakery in Ajax Ontario.</li>
          <li>It uses Stripe Api for payment.</li>
          <li>It has a admin dashboard.</li>
        </ul>
        <div class="links">
          <a href="https://github.com/ChrisLefrancois/TadyBakingCO" target="_blank">Repo</a>
          <a href="https://www.tadybakingco.ca//" target="_blank">Live</a>
        </div>
      </div>
    </div>


    <div class="project theater">
      <div class="image-container">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag ("theater.png"), class: "d-block w-100", alt: "theater" %>
            </div>
            <div class="carousel-item">
              <%= image_tag ("theater3.png"), class: "d-block w-100", alt: "theater" %>
            </div>
            <div class="carousel-item">
              <%= image_tag ("theater2.png"), class: "d-block w-100", alt: "theater" %>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="description-container">
        <h3>Theater</h3>
        <h4>Stack: <span>RUBY ON RAILS</span>, <span>JAVASCRIPT</span>, <span>POSTGRESQL</span></h4>
        <ul>
          <li>Virtual classroom for high school students that are going to see a play.</li>
          <li>Students can do activities to help them get familiar with the play.</li>
          <li>Need student or teacher account to login.</li>
        </ul>
        <div class="links">
          <a href="https://github.com/reemgawad/theatr" target="_blank">Repo</a>
        </div>
      </div>
    </div>

    <div class="project flight-finder">
      <div class="image-container">
        <%= image_tag ("flight3.png"), alt: "flight finder"%>
      </div>
      <div class="description-container">
        <h3>Flight Finder</h3>
        <h4>Stack: <span>PYTHON</span>, <span>SMTPLIB</span>, <span>TEQUILA API</span></h4>
        <ul>
          <li>An app that looks for a cheap flight from Montreal.</li>
          <li>It looks through a google sheet for the list of countries I'm searching.</li>
          <li>If it finds a price cheaper than the one I have put in the sheet, it sends me an email.</li>
        </ul>
        <div class="links">
          <a href="https://github.com/ChrisLefrancois/Flightclub" target="_blank">Repo</a>
        </div>
      </div>
    </div>

     <div class="project hafh">
      <div class="image-container">
        <%# <%= image_tag ("hafh.png"), alt: "home away from home"%>
        <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag ("hafh.png"), class: "d-block w-100", alt: "home away from home" %>
            </div>
            <div class="carousel-item">
              <%= image_tag ("hafh2.png"), class: "d-block w-100", alt: "home away from home" %>
            </div>
            <div class="carousel-item">
              <%= image_tag ("hafh3.png"), class: "d-block w-100", alt: "home away from home" %>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="description-container">
        <h3>Home Away From Home</h3>
        <h4>Stack: <span>RUBY ON RAILS</span>, <span>JAVASCRIPT</span>, <span>POSTGRESQL</span> <span>MAPBOX API</span></h4>
        <ul>
          <li>Social platform to help you integrate your new country with the help of people from your country of origin.</li>
          <li>Create or join events with other people from your country of origin</li>
          <li>Unfortunately, this website is not online anymore.</li>
        </ul>
        <div class="links">
          <a href="https://github.com/ChrisLefrancois/home_away" target="_blank">Repo</a>
        </div>
      </div>
    </div>

    <div class="project cycleasy">
      <div class="image-container">
        <%= image_tag ("cycleasy.png"), alt: "cycleasy"%>
      </div>
      <div class="description-container">
        <h3>Cycleasy</h3>
        <h4>Stack: <span>RUBY ON RAILS</span>, <span>JAVASCRIPT</span>, <span>POSTGRESQL</span> <span>MAPBOX API</span></h4>
        <ul>
          <li>Airbnb clone made for Le Wagon Montreal coding bootcamp.</li>
          <li>Book a Bike or rent your bike for a few days.</li>
          <li>Unfortunately, the website is not online anymore.</li>
        </ul>
        <div class="links">
          <a href="https://github.com/paullanza/cycleasy" target="_blank">Repo</a>
        </div>
      </div>
    </div>


  </div>

  <h2 class="mt-4">3. Contact</h2>

  <div class="projects mt-5">
    <div class="contacts">
      <div class="get-in-touch mx-2">
        <h5>Get in Touch</h5>
        <div class="contact-box">
        <i class="fa-regular fa-envelope mail-size"></i>
          <div class="email-me">
            <a href="mailto:chris.lefrancois1@gmail.com">chris.lefrancois1@gmail.com</a>
          </div>
        </div>
        <div class="contact-box mt-3" id="contact">
          <p>My Social Networks</p>
          <div class="social-network">
            <a href="https://github.com/ChrisLefrancois" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/christopherlefrancois/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
          </div>
        </div>
      </div>
        <div>
          <h5 class="text-center mt-2">Contact Form</h5>
          <%= render 'pages/form', contact: @contact %>
        </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'animate-project' %>
